.title{
    margin: 0;
    padding-top: 20px;
    text-align: center;
}

.main {
	text-align: center;
	margin-top: 130px;
	font-size: 20px;

	.btns {
		margin-top: 230px;
		display: flex;
		gap: 30px;
		justify-content: center;

		.list,
		.system {
			border: 1px solid black;
			cursor: pointer;
			font-size: 20px;
			font-family: 'BlinkMacSystemFont';
			background-color: transparent;
			height: 50px;
		}

		.list:active,
		.system:active {
			background-color: black;
			color: burlywood;
		}
	}
}
